<!-- For Setup heading -->
<div class="row mb-4">
    <div class="col-lg-8 mx-auto text-center">
        <h3 class="display-4">Genie Prep</h3>
        <span class="lead mb-0">Exam Setup
                (Mode <strong>practise</strong>)</span>
    </div>
</div>
<!-- End -->


<div class="row">
    <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">

            <div class="row ">
                <div class="col-auto me-auto mb-2">
                    <p class="text-muted ">Select subject</p>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="of_all_subject">
                        <label class="form-check-label" for="select_all_subject">
                                                All
                                            </label>
                    </div>
                </div>
            </div>

            <!--<p class="alert alert-success">Some text success or error</p>-->
            <form role="form" id="setup">


                <!-- Subjects -->
                <div class="row mb-3">
                    <div class="col-4">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="subj1">
                            <label class="form-check-label" for="subj1">
                                                English
                                            </label>
                        </div>
                    </div>
                    <div class="col-8 ml-0">
                        <div class="row row-cols-2">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-text">from</div>
                                    <input type="number" class="form-control " id="subj1_from" placeholder="set start">
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-text">to</div>
                                    <input type="number" class="form-control " id="subj1_to" placeholder="set stop">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="subj2">
                            <label class="form-check-label" for="subj2">
                                                Mathematics
                                            </label>
                        </div>
                    </div>
                    <div class="col-8 ml-0">
                        <div class="row row-cols-2">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-text">from</div>
                                    <input type="number" class="form-control" id="subj2_from" placeholder="set start">
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-text">to</div>
                                    <input type="number" class="form-control" id="subj2_to" placeholder="set stop">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="subj3">
                            <label class="form-check-label" for="subj3">
                                                Physics
                                            </label>
                        </div>
                    </div>
                    <div class="col-8 ml-0">
                        <div class="row row-cols-2">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-text">from</div>
                                    <input type="number" class="form-control" id="subj3_from" placeholder="set start">
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-text">to</div>
                                    <input type="number" class="form-control" id="subj3_to" placeholder="set stop">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="subj4">
                            <label class="form-check-label" for="subj1">
                                                Chemistry
                                            </label>
                        </div>
                    </div>
                    <div class="col-8 ml-0">
                        <div class="row row-cols-2">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-text">from</div>
                                    <input type="number" class="form-control" id="subj4_from" placeholder="set start">
                                </div>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-text">to</div>
                                    <input type="number" class="form-control" id="subj4_to" placeholder="set stop">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Subjects -->






                <div class="row">
                    <div class="col-4">


                        <p class="text-muted ">Set time</p>



                    </div>

                    <div class="col-8">


                        <div class="form-group">
                            <!-- Input group, just add class 'clockpicker', and optional data-* -->
                            <div class="input-group clockpicker" data-align="top" data-autoclose="true" data-twelvehour="true">
                                <input type="text" class="form-control" value="30:00" id="timerset">
                                <span class="input-group-text">
                                            <i class="fas fa-clock "></i>
                                        </span>
                            </div>

                            <!-- <input type="time" class="form-control" id="#timersetupp"> -->
                            <!--<input id="timersetup" type="text">-->
                        </div>



                    </div>
                </div>

                <div class="row mt-3 text-center">
                    <div class="col">
                        Total Questions: 10
                    </div>
                    <div class="col">
                        Time: 30mins
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col">
                        <button type="button" class="btn btn-primary   shadow-sm" id="submit_setup"> Let's GO  </button>
                    </div>
                </div>

            </form>

            <!-- End -->


        </div>
        <!-- End -->

    </div>
</div>