.btn {
  padding: 9px 15px;
  border: 1px solid #000;
  background: whitesmoke;
  min-width: 150px;
}
.btn.active {
  color: #fff;
  background: #000;
  border: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: 14px;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid whitesmoke;
}

.form_selection {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li {
  list-style: none;
}

.lead {
  font-weight: bold;
}

.section {
  margin: 50px auto;
}

body {
  background: #fff;
  color: #000;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.practise_setup_container,
.auth_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error_info {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #dc3545;
  font-weight: bold;
}

.auth_card {
  width: 500px;
  padding: 22px 5px;
}
.auth_card h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.auth_card .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.auth_card .nav a {
  width: 50%;
}
.auth_card .nav a.active {
  border: none;
}
.auth_card .nav a:not(.active) {
  border: none;
}
.auth_card form {
  margin: 2px 8px;
  display: flex;
  flex-direction: column;
}
.auth_card form .form-control {
  max-width: 95%;
  margin: 10px auto;
  border: 1px solid #000 !important;
}
.auth_card form .utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 13px 5px;
}
.auth_card form button {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.practise_setup_container .intro {
  text-align: center;
}
.practise_setup_container .setup_card {
  width: 600px;
  max-width: 90%;
  margin-top: 20px;
  padding: 22px 5px;
  font-size: 15px;
  font-weight: 400;
}
.practise_setup_container .setup_card div {
  padding: 10px;
}
.practise_setup_container .setup_card div h5 {
  font-size: 15px;
}
.practise_setup_container .setup_card .selectors {
  text-align: center;
}
.practise_setup_container .setup_card .instructions {
  margin: -20px 0;
}
.practise_setup_container .setup_card .instructions ol {
  padding: 8px 12px;
}
.practise_setup_container .setup_card .instructions ol li {
  margin: 10px 8px;
  padding: 8px;
}
.practise_setup_container .setup_card table {
  width: 80%;
  margin: 0 auto;
}
.practise_setup_container .setup_card button {
  display: block;
  max-width: 50%;
  margin: 10px auto;
}
.practise_setup_container .setup_card button.active {
  border: none;
}
.practise_setup_container .setup_card .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.practise_setup_container .setup_card .buttons button {
  margin: 0 !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 10px;
  border-bottom: 2px solid #000;
}
header h2 {
  font-size: 40px;
}
header ul {
  display: flex;
  padding: 0 !important;
}
header ul li {
  display: inline-block;
  margin: 5px 20px;
}
header ul li a {
  font-size: 25px;
}

.course_display .courses .course_item {
  margin-right: 8px;
  cursor: pointer;
}
.course_display .courses .course_item:last-of-type {
  margin-right: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  font-size: 12px;
}
footer span {
  margin-right: 12px;
}

.result {
  width: max-content;
}
.result .result_info {
  text-align: center;
}
.result .result_info .info {
  width: 70%;
  margin: 0 auto;
}
.result .result_info .info th {
  text-align: start;
}
.result .result_info .info td {
  text-align: end;
}
.result footer {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  font-size: 12px;
}

@media (max-width: 580px) {
  .auth_card .utils {
    flex-direction: column;
  }

  header {
    padding: 12px 8px;
  }
  header h2 {
    font-size: 25px;
  }
  header ul li {
    display: inline-block;
    font-size: 20px;
    margin: 5px 13px;
  }

  .courses {
    flex-direction: column;
    align-items: center;
    justify-content: ce;
  }
  .courses .course_item {
    margin: 20px 0;
    width: 90%;
  }

  .records table {
    text-align: center;
    font-size: 10px;
  }

  .practise_setup_container {
    width: 100%;
  }
  .practise_setup_container .intro {
    width: 100%;
    text-align: center;
    h3-font-size: 20px;
  }
  .practise_setup_container .practise_card {
    width: 100%;
    margin-top: 20px;
  }
  .practise_setup_container .practise_card div {
    text-align: center;
    padding: 5px;
  }
  .practise_setup_container .practise_card div h5 {
    font-size: 15px;
  }
  .practise_setup_container .practise_card button {
    display: block;
    width: 50%;
    margin: 10px auto;
  }
}
@media print {
  .result .cta {
    display: none;
  }
  .result footer {
    display: flex;
  }
}

/*# sourceMappingURL=index.css.map */
