@import 'colors';
.btn {
    padding: 9px 15px;
    // border-radius: 5px;
    border: 1px solid $black;
    background: whitesmoke;
    min-width: 150px;
    &.active {
        color: $white;
        background: $black;
        border: none;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px;
    border-bottom: 2px solid $black;
    h2 {
        font-size: 40px;
    }
    ul {
        display: flex;
        padding: 0 !important;
        li {
            display: inline-block;
            margin: 5px 20px;
            a {
                font-size: 25px;
            }
        }
    }
}

.error_info {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $danger;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    font-size: 12px;
    span {
        margin-right: 12px;
    }
}

a {
    text-decoration: none;
    text-align: center;
    color: $black;
    font-size: 14px;
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid whitesmoke;
}

.form_selection {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    li {
        list-style: none;
    }
}

.lead {
    font-weight: bold;
}

.section {
    margin: 50px auto;
}