@import 'colors';
.btn {
    padding: 9px 15px;
    // border-radius: 5px;
    border: 1px solid $black;
    background: whitesmoke;
    &.active {
        color: $white;
        background: $black;
    }
}

a {
    text-decoration: none;
    text-align: center;
    color: $black;
    font-size: 14px;
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid whitesmoke;
}

.form_selection {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    li {
        list-style: none;
    }
}

.lead {
    font-weight: bold;
}

.section {
    margin: 50px auto;
}