@import 'colors';
body {
    background: $white; //var(--white, white);
    color: $black; //$var(--black, black);
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.auth_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Info 
.error_info {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $danger;
    font-weight: bold;
}

.auth_card {
    width: 500px;
    padding: 22px 5px;
    h3 {
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        a {
            width: 50%;
            // margin: 10px;
            &.active {
                border: none;
            }
            &:not(.active) {
                border: none;
            }
        }
    }
    form {
        margin: 2px 8px;
        display: flex;
        flex-direction: column;
        .form-control {
            max-width: 95%;
            margin: 10px auto;
            border: 1px solid $black !important;
        }
        .utils {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 13px 5px;
        }
        button {
            display: block;
            width: 200px;
            margin: 0 auto;
            // margin: 10px auto;
        }
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px;
    border-bottom: 2px solid $black;
    h2 {
        font-size: 40px;
    }
    ul {
        display: flex;
        padding: 0 !important;
        li {
            display: inline-block;
            margin: 5px 20px;
            a {
                font-size: 25px;
            }
        }
    }
}

.course_display {
    .courses {
        .course_item {
            margin-right: 8px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    font-size: 14px;
    span {
        margin-right: 12px;
    }
}

@media (max-width:480px) {
    .auth_card {
        .utils {
            flex-direction: column;
        }
    }
    header {
        padding: 12px 8px;
        h2 {
            font-size: 25px;
        }
        ul {
            li {
                display: inline-block;
                font-size: 20px;
                margin: 5px 13px;
            }
        }
    }
    .courses {
        flex-direction: column;
        .course_item {
            margin: 20px 10px;
        }
    }
}