<!-- For Setup heading -->
<div class="row mb-4">
    <div class="col-lg-8 mx-auto text-center">
        <h3 class="display-4">Genie Prep</h3>
        <span class="lead mb-0">Practise Instructions</span>
    </div>
</div>
<!-- End -->


<div class="row">
    <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">

            <!--<p class="alert alert-success">Some text success or error</p>-->

            <div class="row ">
                <div class="col-auto me-auto mb-2">
                    <p class="text-muted ">Please read the following instructions carefully</p>
                </div>
            </div>

            <ol class="rounded-list">
                <li>Every question has it match with the answers on this app
                </li>
                <li>Please get a hard copy of FUTA PUTME past question for your subjects with you before you begin
                </li>
                <li> Make sure you select the right option to the question.
                </li>
                <li> Do not Refresh, if you try submitting and nothing happens, wait and make sure you have an active internet connection.
                </li>

                <li>Press the start button below to begin, Good Luck.
                </li>
            </ol>

            <hr>



            <div class="row mb-3">
                <div class="col-4">

                    <p class="text-muted ">Subjects</p>

                </div>
                <div class="col-8 ml-0">


                    <span class="text-muted subject_tag">
                                English,
                                Mathematics,
                                Physics,
                                Chemistry,
                            </span>

                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">

                    <p class="text-muted ">Number of Questions</p>

                </div>
                <div class="col-8 ml-0 text-start">


                    <span class="text-muted quest_tag">
                                10,
                                10,
                                10,
                                10,
                            </span>

                </div>
            </div>




            <div class="row">
                <div class="col-4">
                    <p class="text-muted ">Duration</p>
                </div>

                <div class="col-8">

                    <span class="text-muted">
                                <b class="text-start timer_tag">30 mins, 00 sec</b> 
                                <i class="fas fa-clock text-end"></i>
                            </span>




                </div>
            </div>



            <div class="row text-center">
                <div class="col">
                    <button type="button" class="btn btn-warning text-white  shadow-sm"> Back to setup </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary   shadow-sm"> Start Practise</button>
                </div>

            </div>



            <!-- End -->


        </div>
        <!-- End -->

    </div>
</div>