{% extends 'dashboard/dashBase.html' %}{% load static %} {% block nav-content %}
<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i>
        <img src="/media/{{user.profileimg}}" class="img-responsive img-circle visible-lg visible-md visible-sm" alt="Profile Image" width="30px" height="30px" style="border-radius: 50%;">
    </i>
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

    <div class="dropdown-header">
        <small>Logged in as</small><br>
        <b>{{user.last_name}} {{user.first_name}}</b>
    </div>

    <div class="dropdown-divider"></div>

    <a class="dropdown-item" href="{% url 'practise' %}">Take a Test</a>

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %} {% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dash" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Overview</div>
                    <a class="nav-link" id="dash-btn" href="#dashboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" id="profile-btn" href="#profile">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        Profile
                    </a>
                    <div class="sb-sidenav-menu-heading">Subjects</div>
                    <a class="nav-link collapsed" href="#subjects" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Subjects
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            {% for subject in user.subjects.all %}
                            <p class="nav-link">{{subject.name}}</p>
                            {% endfor %}

                        </nav>
                    </div>
                    <!--
                        <a class="nav-link" id="target-btn" href="#target">
                        <div class="sb-nav-link-icon"><i class="fas fa-bullseye"></i></div>
                        Target Store
                        </a>
                    -->

                    <div class="sb-sidenav-menu-heading">Records</div>
                    <a class="nav-link" id="record-btn" href="#record">
                        <div class="sb-nav-link-icon"><i class="fas fa-history"></i></div>
                        Practise Records
                    </a>
                    <!--<a class="nav-link" id="leaderboard-btn" href="#leaderboard">
                        <div class="sb-nav-link-icon"><i class="fas fa-trophy"></i></div>
                        Leaderboard
                    </a>-->
                    <a class="nav-link" href="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                        logout
                    </a>

                </div>
            </div>
            <div class="sb-sidenav-footer-dash">
                <div class="small">Logged in as:</div>
                {{user.first_name}} {{user.last_name}}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div id="dashy">
                    <!-- Breadcrumb -->
                    <h1 class="mt-4">Dashboard</h1>
                    <hr>
                    <nav aria-label="breadcrumb" class="main-breadcrumb">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Welcome! {{user.first_name}}</li>

                        </ol>
                    </nav>
                    <!-- /Breadcrumb -->


                    <h5 class="text-muted">Your Subjects</h5>
                    <div class="row">
                        {% for sub in user.subjects.all %}
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">{{sub.name}}</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} {% comment %}
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">English</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Mathematics</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Physics</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Chemistry</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        {% endcomment %}
                    </div>


                    <div class="row text-center mb-5 mt-0">
                        <!-- <div class="col">
                            <button class="btn btn-info">Take Live test</button>
                        </div> -->
                        <div class="col">
                            <a class="btn btn-success" href="{% url 'practise' %}">Take Practise test</a>
                        </div>
                    </div>

                    {% comment %}
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-area mr-1"></i> Performace Area Chart
                                </div>
                                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i> Performance Bar Chart Example
                                </div>
                                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}


                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i> Practise Records
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Subjects taken</th>

                                            <th>Score</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <!-- 
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th colspan="2">Subjects taken</th>
                                            <th>Score</th>
                                            <th></th>
                                        </tr>
                                    </tfoot> -->

                                    <tbody>
                                        {% for record in records %}
                                        <tr>
                                            <td>{{record.date_taken}}</td>
                                            <td>{% for sub in record.testscripts_set.all %}{{sub.subject.name}}, {% endfor %}</td>
                                            <td>{{record.total_score_gotten}}/{{record.total_max_score}}</td>
                                            <td><a href="javascript: window.location.href='/practise/result?t={{record.id}}'" class="btn btn-primary"><i class="fas fa-eye"></i></a></td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content">

                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; 2021 Genie.inc</div>
                    <div>
                        <span>FUTA &middot;
                        POST UTME &amp; Practise</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}